name: K6 Load Test

on:
  workflow_dispatch:
  push:
    branches: [ main ]
  pull_request:

jobs:
  loadtest:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Start application services
      run: |
        docker compose up -d --build
        echo "Waiting for backend..."
        sleep 15

    - name: Run K6 load test
      run: |
        docker run --network host 
          -v $\{{ github.workspace }}/k6:/scripts 
          grafana/k6 run /scripts/weather-test.js 
          --out json=/scripts/results.json

    - name: Upload K6 results
      uses: actions/upload-artifact@v3
      with:
        name: k6-results
        path: k6/results.json
