name: K6 Cloud Load Test

on:
  workflow_dispatch:

jobs:
  loadtest:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Confirm target URL
      run: echo "Testing live app at https://heythere.endavahub.net/"

    - name: Run K6 in Grafana Cloud
      env:
        K6_CLOUD_TOKEN: ${{ secrets.K6_CLOUD_TOKEN }}
      run: |
        docker run --rm \
          -e K6_CLOUD_TOKEN=$K6_CLOUD_TOKEN \
          -v ${{ github.workspace }}:/scripts \
           grafana/k6 cloud /scripts/weather-test.js

    # - name: Run K6 local JSON for artifact
    #   run: |
    #     docker run --rm \
    #       -v ${{ github.workspace }}:/scripts \
    #        grafana/k6 cloud /scripts/weather-test.js
    #       --out json=/scripts/results.json

    # - name: Upload K6 results
    #   uses: actions/upload-artifact@v4
    #   with:
    #     name: k6-results
    #     path: k6/results.json
